.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.card {
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
   padding: 1rem;
   width: 30rem;
   text-align: center;
   overflow: hidden;
   animation: slide-down 1.5s ease-in-out;
}
.card-header {
   font-size: 24px;
   font-weight: bold;
   margin-bottom: 20px;
}
.actions {
   text-align: center;
}
.btn {
   padding: 0.5rem 1.5rem;
   cursor: pointer;
   background-color: #800040;
   color: #fff;
   border-radius: 4px;
   border: 1px solid #800040;
   margin: 0 1rem;
}

.btn:hover {
   background-color: #9c1458;
   border-color: #9c1458;
}
.btn--alt {
   background-color: transparent;
   color: #800040;
}
.btn--alt:hover {
   background-color: #f8dae9;
}

@keyframes slide-down {
   0% {
      transform: translateY(-50px);
      opacity: 0;
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

.modal {
   z-index: 10;
   background-color: #fff;
   padding: 2.5rem;
   text-align: center;
   border-radius: 6px;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
   animation: slide-down 1s ease-in;
}
.backdrop {
   width: 100%;
   height: 100%;
   z-index: 1;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.75);
}
